<%= form_for(@exercise) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time %><br />
    <%= f.date_select :time %>
  </div>
  <div class="field">
    <p>Comment</p><br />
    <%= f.text_field :feel %>
  </div>
  <div class="field">
    <p>Overall feeling (for color)</p><br />
    <%= f.select(:color, options_for_select([['Good!', 'success'], ['Neutral', 'warning'], ['Bad', 'error']])) %>
  </div>  
  <div class="actions">
    <button type="submit" class="btn btn-primary">Create Exercise</button>
  </div>
<% end %>
