<%= form_for(@exercise) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>
      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>Date</p><br />
    <%= f.text_field :time %>
    <span class="text-info"><small>Click for calendar</small></span>
  </div>
  <div class="field">
    <p>Comment</p><br />
    <%= f.text_field :feel %>
    <span class="text-info"><small>Details etc.</small></span>
  </div>
  <div class="field">
    <p>Overall feeling</p><br />
    <%= f.select(:color, options_for_select([['Good!', 'success'], ['Neutral', 'warning'], ['Bad', 'error']])) %>
    <span class="text-info"><small>Colorizes the entry</small></span>
  </div>  
  <div class="actions">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>
