<% if @exercises.size < 1 %>
  <h2>Nothing here yet! :(</h2>
  <h4 class="text-info">Maybe you should add a <%= link_to 'new exercise', new_exercise_path %></h4>
<% else %>
<h1>Listing your hard work</h1>

<table class="table">
  <tr>
    <th>Time</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exercises.each do |exercise| %>
    <tr class=<%= exercise.color %>>
      <td><%= exercise.time %></td>
      <td><%= exercise.feel %></td>
      <td><%= link_to 'Show', exercise %></td>
      <td><%= link_to 'Edit', edit_exercise_path(exercise) %></td>
      <td><%= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

</table>
<h5><%= link_to 'New Exercise', new_exercise_path %></h5>
<% end %>
<br />

