<% if @exercises.size < 1 %>
  <h2>Nothing here yet! :(</h2>
  <h4 class="text-info">Maybe you should add a</h4>
  <span><%= button_to('New Exercise', new_exercise_path, {:method => 'get', :class => 'btn btn-primary'}) %></span>
<% else %>
<h1>Listing your hard work</h1>

<table class="table">
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exercises.each do |exercise| %>
    <tr class=<%= exercise.color %>>
      <td><%= exercise.time.to_formatted_s(:long)  %></td>
      <td><%= exercise.feel %></td>
      <td><%= link_to 'Show', exercise, :class => 'btn btn-mini btn-success' %></td>
      <td><%= link_to 'Edit', edit_exercise_path(exercise), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Destroy', exercise, method: :delete, data: { :no_turbolink => 'true', confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger', 'data-no-turbolink' => true %></td>
    </tr>
  <% end %>

</table>
<%= button_to('New Exercise', new_exercise_path, {:method => 'get', :class => 'btn btn-primary'}) %>
<% end %>


