<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @exercise.time %>
</p>

<p>
  <b>Feel:</b>
  <%= @exercise.feel %>
</p>
<% if @exercise.activities.size < 1 %>
  <h2>This exercise is empty!</h2>
  <h4 class="text-info">Maybe you should add a <%= link_to "new activity", new_exercise_activity_path(@exercise) %></h4>
<% else %>
<table class ="table">
	<tr>
		<th>Name</th>
		<th>Amount</th>
	</tr>

	<% @exercise.activities.each do |activity| %>
		<tr>
			<td><%= link_to activity.name, edit_exercise_activity_path(@exercise, activity) %></td>
			<td><%= activity.description %></td>
		</tr>
	<% end %>
</table>
<%= link_to "New Activity", new_exercise_activity_path(@exercise) %><br />
<% end %>




<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
