<% if @exercise.activities.size < 1 %>
  <h2>This exercise is empty!</h2>
  <h4 class="text-info">Maybe you should add a</h4>
  <%= button_to('New Activity', new_exercise_activity_path(@exercise), {:method => 'get', :class => 'btn btn-primary'}) %>
<% else %>  
<p>
  <b>Date:</b>
  <%= @exercise.time.to_formatted_s(:long) %>
</p>

<p>
  <b>Description:</b>
  <%= @exercise.feel %>
</p>
<table class ="table">
	<tr>
		<th>Name</th>
		<th>Amount</th>
    <th></th>
    <th></th>
	</tr>

	<% @exercise.activities.each do |activity| %>
		<tr>
			<td><%= activity.name %></td>
			<td><%=activity.sets%>X<%=activity.reps%>	<%= activity.weight %>kg </td>
			<td><%= link_to 'Edit', edit_exercise_activity_path(@exercise, activity), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Destroy', exercise_activity_path(@exercise, activity), method: :delete, :class => 'btn btn-mini btn-danger'%></td>
		</tr>
	<% end %>
</table>
<%= button_to('New Activity', new_exercise_activity_path(@exercise), {:method => 'get', :class => 'btn btn-primary'}) %><br />
<% end %>



<div>
	<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
	<%= link_to 'Back', exercises_path %>
</div>

